@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#06202A] text-gray-300;
  }
  html {
    @apply font-body;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: white;
}
